@import "../variables";
.header {
  background-color: $yep-primary-color;
  min-height: 20px;

  .yep-header {
    vertical-align: middle;

    .dropdown-toggle {
      color: white;
      &:focus, &:hover {
        color: #F0F0F0 !important;
      }
    }

    .dropdown-toggle:active, .open .dropdown-toggle {
      background-color: $yep-primary-color !important;
    }
  }
}
