@import "../core/variables";

.header-title {
  color: $yep-primary-color;
  text-align: center;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 400%;
}


.md-facebook {
  color:white !important;
  background-color: #3b5998 !important;
}

.facebook-button {
  background: $yep-action-color;
  border-radius: 1px;
  border: hidden;
  color: #ffffff;
  display: block;
  margin-top: 12px;
  &.active, &:hover {
    background: $yep-action-color;
    color: #ffffff;
  }
}

.divider {
  margin-top: 6px;
  p {
    text-align: center;
    font-size: large;
  }
}