<nav class="header">
</nav>
<h1 class="header-title">yepiness!</h1>
<div layout-align="center center" layout="row" flex>

  <md-card layout-padding flex="40">
    <md-input-container flex>
      <label>Email</label>
      <input type="email" ng-model="loginForm.email">
    </md-input-container>

    <md-input-container flex>
      <label>Password</label>
      <input type="password" ng-model="loginForm.password">
    </md-input-container>

    <md-button flex layout-padding class="md-primary">Login</md-button>

    <div layout="row">
      <md-button flex>G</md-button>
      <md-button class="md-facebook" flex layout-align="center"><icon class="fa fa-facebook fa-2x"></icon> Login with facebook</md-button>
    </div>

  </md-card>

  <!--<div>-->
  <!--<button type="submit" class="btn btn-default col-md-12 login-button" ng-click="submitLogin(loginForm)">Login</button>-->

  <!--<div class="col-md-12 social">-->
  <!--<legend class="text-muted text-center">or</legend>-->
  <!--<a class="btn btn-social-icon btn-lg btn-google-plus">-->
  <!--<i class="fa fa-google-plus"></i>-->
  <!--</a>-->

  <!--<a class="btn btn-social-icon btn-lg btn-facebook" ng-click="authenticate('facebook')">-->
  <!--<i class="fa fa-facebook"></i>-->
  <!--</a>-->
  <!--</div>-->

  <!--<div class="col-md-12 account-links">-->
  <!--<span><a ng-href="/signup">Create an account</a></span>-->
  <!--<span class="pull-right"><a>Retrieve lost password</a></span>-->
  <!--</div>-->
  <!--</div>-->
</div>
