.home-container {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.avatar {
  max-width: 70px;
  max-height: 70px;
  margin: 8px;
}

.avatar-box {
  div {
    padding: 0;

    .avatar-box-label {
      padding-left: 14px;
    }
  }
}

.indication-input {
  > input {
    width: 100%;
    border-width: 0px;
    border-color: #ce5135;
    margin: 0px;
    padding: 4px;
    &:focus {
      outline-color: #ce5135;
      outline-width: 1px;
    }
  }
}

.indications-panel {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 0px;
  padding-right: 0px;
  padding-left: 0px;

  .nav-tabs {
    border-bottom: 0px;
    background-color: #eff1f5;
    > li {
      > a {
        margin-right: 0;
        border-radius: 0;
        border: 0;
        background-color: rgb(42, 92, 130);
        color: #ffffff;
        cursor: pointer;
      }
      &.active > a {
        &,
        &:hover,
        &:focus {
          background-color: #ffffff;
          color: rgb(206, 81, 53);
          border-radius: 0;
          border: 0;
        }
      }
    }
  }

  .tab-content {
    padding: 18px;
  }
}

.indications-list {
  > h3 {
    color: rgb(217, 67, 32);
  }

  > div {
    > a {
      float: left;
    }
    .shortUrl {
      color: rgb(30, 88, 135);
    }
    .longUrl {
      color: rgb(99, 100, 102);
    }

    > p {
      padding-top: 10px;
    }
    background-color: #EFF1F5;
    color: rgb(99, 100, 102);
    padding: 14px;
    margin-bottom: 12px;
  }
}