.home-container {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

2.avatar {
  max-width: 70px;
  max-height: 70px;
  margin: 8px;
}

.avatar-box {
  div {
    padding: 0;

    .avatar-box-label {
      padding-left: 14px;
    }
  }
}

.indications-panel {
  background-color: rgb(239, 241, 245);

  .nav-tabs {
    > li {
      > a {
        margin-right: 0;
        border-radius: 0;
        border: 0;
        background-color: rgb(42, 92, 130);
        color: #ffffff;
      }
      &.active > a {
        &,
        &:hover,
        &:focus {
          background-color: #ffffff;
          color: rgb(206, 81, 53);
          cursor: pointer;
        }
      }
    }
  }
}