.home-container {
  padding-top: 70px;
}

.avatar {
  max-width: 70px;
  max-height: 70px;
  margin: 8px;
}

.avatar-box {
  box-shadow: 0 0 0 0;
  background-color: rgb(229, 233, 237);

  div {
    padding: 0;
    .avatar-box-label {
      padding-left: 14px;
    }
  }
}

.indication-input {
  > input {
    width: 100%;
    border-width: 0px;
    border-color: #ce5135;
    margin: 0px;
    padding: 8px;
    &:focus {
      outline-color: #ce5135;
      outline-width: 1px;
    }
  }
}

.indications-panel {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 0px;
  padding-right: 0px;
  padding-left: 0px;

  .nav-tabs {
    border-bottom: 0px;
    background-color: #E5E9ED;
    > li {
      > a {
        margin-right: 0;
        border-radius: 0;
        border: 0;
        background-color: rgb(42, 92, 130);
        color: #ffffff;
        cursor: pointer;
      }
      &.active > a {
        &,
        &:hover,
        &:focus {
          background-color: #ffffff;
          color: #DE4028;
          border-radius: 0;
          border: 0;
        }
      }
    }
  }

  .tab-content {
    padding: 18px;
  }
}

.indications-list {
  > h3 {
    color: #DE4028;
    font-family: 'Quicksand';
  }

  > div {
    > a {
      float: left;
    }

    > i {
      float: right;
      cursor: pointer;
    }
    .shortUrl {
      font-weight: bold;
      color: #29658B;
    }
    .longUrl {
      color: #4C4C4C;
    }

    > p {
      padding-top: 10px;
    }
    background-color: #EFF1F5;
    color: #4C4C4C;
    padding: 14px;
    margin-bottom: 12px;
  }
}