@import "../core/variables";

.sidenav {
  background-color: transparent!important;
}

.profile {
  text-align: center;

  img {
    max-width: 100px;
  }

  span {
    font-size: 12px;
    color: $masala;
  }
}

.list {
  margin-left: 10px;
  .list-title {
    font-size: 20px;
    font-family: 'Quicksand', 'Noto Sans', Arial, Helvetica, sans-serif;
    color: $masala;
  }

  .list-item {
    font-size: 18px;
    font-family: 'Quicksand', 'Noto Sans', Arial, Helvetica, sans-serif;
    color: $masala;
    min-height: 30px;
  }
}