@import "../core/variables";

md-tabs {
  background-color: white;
  border: solid 1px $gray-disable;
}

.md-tab {
  text-transform: none;
  color: $silver-chalice !important;
  font-weight: bold;
  &.md-active {
    color: $havelock-blue !important;
  }
}

.yep-card {
  background: $gray-card;
  margin: 22px;
}