@import "../variables";

.share-input {

  padding-bottom: 2px;

  md-progress-circular {
    -webkit-font-smoothing: antialiased;
    order: 2;
    position: relative;
    top: -30px;
    transform-origin: 0px 0px;
    margin-left: auto;
    .md-inner {
      .md-left {
        .md-half-circle {
          border-left-color: $orange-yepiness;
          border-top-color: $orange-yepiness;
        }
      }
      .md-right {
        .md-half-circle {
          border-right-color: $orange-yepiness;
          border-top-color: $orange-yepiness;
        }
      }
    }
  }

  textarea.md-input {
    min-height: 0!important;
  }

  .share-content {
    background-color: white;
    margin-top: 10px;
    order: 3;
    -webkit-order: 3;

    a.remove {
      margin-right: 4px;
    }
    img {
      max-width: 100px;
      width: 100%;
      //margin: auto;
    }

    div {
      .body {
        .title {
          margin: 0;
          a {
            color: #de4028;
            font-size: 14px;
            padding-top: 5px;
            margin: 0 0 2px;
          }
        }
        .url {
          margin: 0;
          a {
            color: #428bca;
            text-decoration: none;
          }
        }
        .description {
          font-size: 12px;
          padding: 0;
        }
      }
    }
  }
}

.share-settings {
  md-select {
    margin-top: 2px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .share-btn {
    background-color: $blue-teal;
    color: white;
    font-size:14px;
    margin-left: auto;
    &:hover {
      background-color: $blue-teal!important;
    }
  }
}

md-tabs {
  background-color: white;
  border: solid 1px $gray-disable;
  margin-top: 20px!important;
}

.md-tab {
  text-transform: none;
  color: $silver-chalice !important;
  font-weight: bold;
  &.md-active {
    color: $havelock-blue !important;
  }
}

.category-title {
  color: $orange-yepiness;
  font-size: 32px;
  font-family: 'Quicksand', 'Noto Sans', Arial, Helvetica, sans-serif;
  margin: 28px 0 12px 20px;
}

.empty-category {
  margin: 28px 0 12px 20px;
  color: $mirage;
  font-weight: 100;
  font-size: 16px;
}

.yep-card {
  background: $gray-card;
  margin: 0 22px 22px 22px;
  div {
    img {
      max-width: 140px;
      width: 100%;
      margin: auto;
    }
    .yep-content {

      margin-left: 26px;

      .title {
        font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: $mirage;
        font-weight: bold;
        margin: 0;
      }

      md-select {
        margin: 10px 0 12px 0;
      }

      .description {
        font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: $mirage;
      }
      a {
        color: $havelock-blue;
        font-size: 12px;
        font-family: Helvetica, 'Noto Sans', Arial, sans-serif;
      }

      > md-select {
        > md-select-label > i {
          padding: 10px;
        }
      }
    }

    md-grid-list {
      max-width: 140px;
      width: 140px;

      md-grid-tile {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .rating {
      font-size: 12px;
      color: $mirage;
    }

    .rating-stars {
      direction: rtl;
      cursor: pointer;

      i:focus {
        outline: none;
      }

      i:hover:before, i:hover ~ i:before {
        content: "\f005";
      }
    }

    .content {
      font-size: 12px;
      font-style: italic;
      margin-top: 30px;
      
      span {
        color: $masala;
        font-weight: bold;
        font-style: normal;
      }
    }
  }
}