<md-content class="md-padding" flex layout-fill layout="column">
  <md-input-container class="share-input">
    <label>Share something</label>
    <textarea ng-model="newYep.content" ng-change="updateYep(newYep.content)" rows="1" column="1"></textarea>
  </md-input-container>
  <md-contact-chips
    ng-model="newYep.friends"
    md-contacts="loadFriends($query)"
    ng-keydown="createChip($event, $chip)"
    md-contact-name="name"
    md-contact-image="image"
    md-contact-email="email"
    md-search-text-change=" "
    secondary-placeholder="Add a friend"
    placeholder="Add a friend">
  </md-contact-chips>

  <md-whiteframe class="md-whiteframe-z1 share-content" ng-show="yepContent" layout-padding>
    <a class="pull-right remove" ng-click="removeYep()"><i class="media-close fa fa-close"></i></a>
    <div layout="row">
      <div flex="20" layout-padding>
        <img ng-show="newYep.image" class="media-object indication-image" ng-src="{{newYep.image}}">
      </div>
      <div class="body" flex layout-padding>
        <h4 class="title"><a ng-href="{{newYep.url}}" target="_blank">{{newYep.title}}</a></h4>
        <h6 class="url"><a ng-href="{{newYep.url}}" target="_blank">{{newYep.url}}</a></h6>

        <p class="description">{{newYep.description}}</p>
      </div>
    </div>
  </md-whiteframe>

  <md-tabs md-dynamic-height md-border-bottom md-center-tabs="false" flex layout-fill>
    <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" md-on-select="changeTab(tab)" active="tab.active"
            disabled="tab.disabled" flex layout-fill>
      <div ng-repeat="group in groupedIndications">
        <md-whiteframe class="yep-card md-whiteframe-z1" layout layout-padding
                       ng-repeat="indication in group.yeps">
          <div layout="column">
            <div layout="row">
              <div flex="20">
                <img ng-show="indication.image" class="indication-image" ng-src="{{indication.image}}">
              </div>
              <div flex>
                <p class="title">{{indication.title}}</p>
                <p class="description">{{indication.description}}</p>
                <a>{{indication.url}}</a>
              </div>
            </div>
            <div layout="row">
              <md-content style="" flex class="friends-grid">
                <md-grid-list
                  md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
                  md-row-height-gt-md="1:1" md-row-height="1:1"
                  md-gutter-gt-md="2px" md-gutter-gt-sm="1px" md-gutter="1px">
                  <md-grid-tile
                    ng-repeat="user in indication.users"
                    ng-style="{'background-image': 'url({{user.image}})'}"
                    md-colspan-gt-sm="1"
                    md-rowspan-gt-sm="1">
                  </md-grid-tile>
                </md-grid-list>
              </md-content>
            </div>
          </div>
        </md-whiteframe>
      </div>
    </md-tab>
  </md-tabs>
</md-content>