@import "session/login.less";
@import "home/home.less";
//@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
//@import url(http://fonts.googleapis.com/css?family=Quicksand);

body {
  background: rgb(229, 233, 237);
}

.header {
  background: rgb(206, 81, 53);
  overflow: hidden;
  min-height: 20px;
  > i {
    float: right;
    color: white;
    padding: 6px;
  }
}

.yepiness-white {
  font-family: "Quicksand";
  color: white;
  padding-left: 26px;
  margin-top: 10px;
  margin-bottom: 14px;
}