@import "signin/signin.less";
@import "feed/feed.less";
@import "header/header.less";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Quicksand);


@yep-primary-color: #DE4028;
@yep-action-color: #2a5c82;


body {
  background: rgb(229, 233, 237);
  font-family: 'Noto Sans';
  a {
    cursor: pointer;
  }

  .btn-primary {
    background-color: @yep-action-color;
  }
}

.yepiness-white {
  font-family: "Quicksand";
  color: white;
  padding-left: 26px;
  margin-top: 10px;
  margin-bottom: 14px;
}
