.header {
  background-color: #DE4028;
  min-height: 20px;

  .yep-header {
    vertical-align: middle;

    .open {
      background-color: #008000;
    }

    .options {
      color: white;
      &:focus, &:hover {
        color: #F0F0F0;
      }
    }
  }
}