$orange-yepiness: #ed5110;
$blue-teal: #257097;
$orange-dark: #dc4405;
$blue-teal-light: #2f80aa;
$gray-blue: #f3f6fa;
$gray-disable: #d6d6d6;
$gray-card: #f0f2f6;
$havelock-blue: #4a90e2;
$masala: #4a4a4a;
$silver-chalice: #9b9b9b;
$mirage: #141823;
$white: #ffffff;