@import "core/variables";
@import "signin/signin";
@import "feed/feed";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Quicksand);

body {
  background: rgb(229, 233, 237);
  font-family: 'Noto Sans';
  a {
    cursor: pointer;
  }

  .btn-primary {
    background-color: $yep-action-color;
  }
}

.header {
  background-color: $yep-primary-color;
  min-height: 20px;

  .yep-header {
    vertical-align: middle;

    .dropdown-toggle {
      color: white;
      &:focus, &:hover {
        color: #F0F0F0 !important;
      }
    }

    .dropdown-toggle:active, .open .dropdown-toggle {
      background-color: $yep-primary-color !important;
    }
  }
}

.yepiness-white {
  font-family: "Quicksand";
  color: white;
  padding-left: 26px;
  margin-top: 10px;
  margin-bottom: 14px;
}

.md-input-focused {
  label {
    color: $yep-primary-color !important;
  }
  .md-input {
    border-color: $yep-primary-color !important;
  }
}